@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  .font-outline {
    -webkit-text-stroke: 2.5px black;
    background-color: transparent;
  }
  .font-outline-sm {
    -webkit-text-stroke: 1.2px black;
    background-color: transparent;
  }
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #000000;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.bg-lime {
    --tw-bg-opacity: 1;
    background-color: #b3b3b300;
}

.h-8 {
  height: 4rem;
}


.text-lime {
  --tw-text-opacity: 1;
  color: rgb(179 179 179);
}

.border-lime {
  border-color: rgb(179 179 179);
}

.team-img {
  width: 100px; /* Ajusta este tamaño según prefieras */
  height: 100px; /* Ajusta este tamaño según prefieras */
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
  border-radius: 25%; /* Este valor hace que los bordes sean completamente redondeados */
  object-fit: cover; /* Asegura que la imagen cubra toda el área disponible */
}

.team-img:hover {
  filter: grayscale(0%);
}

.sm\:text-6xl {
    font-size: 3.75rem;
    line-height: 1;
    color: black; /* Asegúrate de que el texto sea negro por defecto */
}

.sm\:text-6xl:hover {
    color: #b3953c; /* Cambia el color a dorado cuando pases el cursor */
}

