---
import Container from "./Container.astro"
import Topic from "./Topic.astro"
---
<Container>
<div class="relative flex flex-col items-center md:flex-row" id="projects">
    <Topic title="Casos de Éxito" description="Nuestra experiencia en la gestión de redes sociales y producciones audiovisuales ha llevado a numerosos clientes al éxito, transformando sus ideas en resultados tangibles. " />
</div>

<div class="w-full p-12 bg-zinc-900 rounded-[45px] justify-start items-start gap-16 inline-flex text-white">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-2 divide-x-0 md:divide-x divide-y md:divide-y-0">
        <div class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2">
            <div class="w-full text-lg font-normal">LEVEL GYM: Para un gimnasio local, diseñamos una estrategia de marketing digital que alcanzó a 61.155 cuentas, incrementó las interacciones en un 77.8%, y aumentó los seguidores en un 2.6%, alcanzando un total de 12.700 seguidores.</div>
            <div class="justify-start items-center gap-[15px] inline-flex">
                
            </div>
        </div>
        <div class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2">
            <div class="w-full text-lg font-normal">La Panadería - Cosas Ricas: Implementamos una campaña de redes sociales para una panadería que logró alcanzar 105.739 cuentas, incrementó las interacciones en un 1142% y aumentó los seguidores en un 15.6%, alcanzando un total de 9.151 seguidores.</div>
            <div class="justify-start items-center gap-[15px] inline-flex">
                
            </div>
        </div>
        <div class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2">
            <div class="w-full text-lg font-normal">La Cafetería: Desarrollamos una estrategia de contenido para una cafetería, lo que resultó en 14.000 cuentas alcanzadas, un aumento del 2871% en las interacciones, y un crecimiento del 5.6% en sus seguidores, alcanzando un total de 6.154 seguidores.</div>
            <div class="justify-start items-center gap-[15px] inline-flex">
                
            </div>
        </div>
    </div>
    
    <!-- <div class="w-[186px] h-[0px] origin-top-left rotate-90 border border-white"></div> -->
    <!-- <div class="w-[186px] h-[0px] origin-top-left rotate-90 border border-white"></div> -->
    
</div>

</Container>