---
import Container from "./Container.astro"
import Topic from "./Topic.astro"
---
<Container>
<div class="relative flex flex-col items-center md:flex-row">
    <Topic title="Testimonials" description="Hear from Our Satisfied Clients: Read Our Testimonials to Learn More about Our Digital Marketing Services" />
</div>

<div class="flex-row items-center my-6 p-14 bg-black text-white rounded-[45px]">
    <div class="justify-items-center relative w-full border border-lime rounded-3xl">
        <div class="p-4 md:p-10">
            <p class="items-center justify-center text-white text-sm md:text-lg font-normal mb-4">"Hemos estado trabajando con ELITE durante el último año y hemos visto un aumento significativo en el tráfico de nuestras redes, sitio web y en los clientes potenciales como resultado de sus esfuerzos. El equipo es profesional, receptivo y realmente se preocupa por el éxito de nuestro negocio. Recomendamos encarecidamente ELITE a cualquier empresa que busque aumentar su presencia en línea."</p>
            <span class="text-lime text-base md:text-xl font-medium">Juan Smith<br/></span><span class="text-white text-lg font-normal">Director de Marketing en ....... </span>
        </div>
    </div>
</div>

</Container> 